<div class="center_col">

  <span id="player_name">{{full_name}}</span> - {{team_name}}<br>
  <img {{bind-attr src=badge_image_url}} alt="Badge Image"><br>  
  
  {{type_name}} {{format-currency price}}
  <div class="player_image">
    <img {{bind-attr src=photo_url}} alt="Player Image"> 
  </div>

  Total Points: {{total_points}}<br>
  Goals: {{goals_scored}}<br>
  Selected by: {{selected_by_percent}}%<br>
  MinutesPerGame in {{lastSeasonInLeague}}: {{format-points minutesPerGameLastSeason}}<br>
  Next Fixtures: {{#each fixture in fixtureList}}<br>
    {{format-fixture fixture}}<br>
   {{/each}} 

</div>

<div class="right_col">
  Avg {{type_name}} Price: {{format-currency avgPriceForPosition}}<br>
  Avg {{type_name}} Total Points: {{format-points avgPointsForPosition}}<br>
  Total points: {{format-goals totalPoints}}<br>
  Total Goals: {{format-goals totalGoals}}<br>

  {{playersWithMorePointsSameCost.length}} Players with more points that cost less:<br>
   {{#each player in playersWithMorePointsSameCost}}
      {{#link-to 'player' player.id}}{{player.first_name}} {{player.web_name}}{{/link-to}}<br>
    {{/each}}
  {{playersWithBetterFormSameCost.length}} Players with better form that cost less:<br>
   {{#each player in playersWithBetterFormSameCost}}
      {{#link-to 'player' player.id}}{{player.first_name}} {{player.web_name}}{{/link-to}}<br>
    {{/each}}

    

<br><br>
  </div>

