<div class="center_col">

  <span id="player_name">{{full_name}}</span> - {{team_name}}<br>
  <img {{bind-attr src=badge_image_url}} alt="Badge Image"><br>  
  
  {{type_name}} {{format-currency now_cost}}
  <div class="player_image">
    <img {{bind-attr src=photo_url}} alt="Player Image"> 
  </div>

  Total Points: {{total_points}}<br>
  Goals: {{goals_scored}}<br>


</div>

<div class="right_col">
  Analytics coming soon...
</div>

